body {
    margin: 0px;
    overflow: hidden;
}
#background {
    width: 9000px;
    height: 650px;
    background-image: url("citytiled1.png");
    background-size: auto 100%;
    transition: 0.1s;
    transition-timing-function: linear;
}

#player {
    position: fixed;
    bottom: 10px;
    left: 40%;
}
