body {
    margin: 0px;
    overflow: hidden;
}
#background {
    height: 650px;
    background-image: url("citytiled1.png");
    background-size: auto 100%;
    transition: 0.1s;
}

#player {
    position: fixed;
    bottom: 10px;
    left: 100px;
}
