ul {
    list-style: none;
}
li:nth-child(odd){
    background-color: #c4e3f3;
}
li:nth-child(even) {
    background-color: #dddddd;
}
li {
    cursor: pointer;
}
li img {
    vertical-align: middle;
}
li.selected {
    background-color: #b92c28;
    color: #fff;
    text-decoration: line-through;
}